extends layout

block content
  h1= title
  p Rows:#{query.rows} Cols:#{query.cols}
  - rows = Number(query.rows)
  - cols = Number(query.cols)
  if !Number.isInteger(rows)
    p Row is not an Integer
  else if !Number.isInteger(cols)
    p Col is not an Integer
  else if rows < 3
    p Row is too small
  else if rows >13
    p Row is too big
  else if cols < 3
    p Col is too small
  else if cols > 13
    p Col is too big
  else
    table#outer
      - for(let i=0; i<rows; i++) {
        tr#middle
          - for(let j=0; j<cols; j++) {
              - var value = 1 * (i + 1)
              if j == 0
                td= 1
              else
                if j+1 > i
                  td= value
                else
                  td= j+1
          - }
      - }
